@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    background-color: #101753;
    color: white;
}

#main_container {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

#btn_container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    font-family: "Roboto", sans-serif;
    padding: 20px 5px;
    flex-basis: 120px;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

#results, #gameover {
    margin-top: 1em;
}